<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enternityfintech.goldcard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE " />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.WebViewActivity" />

        <activity android:name=".ui.activity.MessageActivity" />
        <activity android:name=".ui.activity.MyProfileActivity" />
        <activity android:name=".ui.activity.IdentityActivity" />
        <activity android:name=".ui.activity.AccountSafetyActivity" />
        <activity android:name=".ui.activity.SettingsActivity" />
        <activity android:name=".ui.activity.GoldCardDetailActivity" />
        <activity android:name=".ui.activity.AboutUsActivity" />
        <activity android:name=".ui.activity.ForgetPasswordActivity" />
        <activity android:name=".ui.activity.HoldActivity" />
        <activity android:name=".ui.activity.ModifyLoginPwdActivity" />
        <activity android:name=".ui.activity.ModifyNickActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.TradePwdActivity" />
        <activity android:name=".ui.activity.TradePwdVerifyActivity" />
        <activity android:name=".ui.activity.TradePwdSetActivity" />
        <activity android:name=".ui.activity.MyQrCodeActivity" />

        <activity android:name=".business.trade.view.TradeRecordActivity" />
        <activity android:name=".business.trade.view.TradeDetailActivity" />
        <activity android:name=".business.trade.view.TransferGoldActivity" />
    </application>

</manifest>